{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}


<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }} {{ post.author.last_name}} - {{ post.blogpost_date }}</small><br />
<hr />

{% if user.is_authenticated and user.is_staff %}
{% if user.id == post.author.id %}
<a href="{% url 'update_blog_post' post.pk %}" class="btn btn-primary">Edit</a>
<a href="{% url 'delete_blog_post' post.pk %}" class="btn btn-danger">Delete</a>
{% endif %}
{% endif %}
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<br />

<hr />
<br />

{% if post.header_image %}
<img src="{{ post.header_image.url }}">
{% endif %}



<br />
{{ post.body|safe}}

<br />

{% if user.is_authenticated %}
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if liked %}

    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-danger btn-sm">Unlike</button>

    {% else %}
    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-primary btn-sm">Like</button>
    {% endif %}
    {% else %}

    <small><a href="{% url 'login' %}">Login</a> to like </small>
    {% endif %}
    - {{ total_likes }} likes
</form>
<br />

<hr />

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            {% if post.author.userprofile.profile_pic %}
            <img src="{{ post.author.userprofile.profile_pic.url }}" height="100%" class="card-img">
            {% else %}

            <img src="{% static 'donifix/images/profile_default.png' %}" height="100%" class="card-img">

            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name}}</h5>

                <p class="small text-muted">

                    <a href="{% url 'show_profile_page' post.author.userprofile.id %}">Profile</a>

                    {% if post.author.userprofile.website_url %}
                    | <a href="{{ post.author.userprofile.website_url }}" target="_blank" rel="noopener"> Website</a>
                    {% endif %}

                    {% if post.author.userprofile.facebook_url %}
                    | <a href="{{ post.author.userprofile.facebook_url }}" target="_blank" rel="noopener">Facebook</a>
                    {% endif %}

                    {% if post.author.userprofile.twitter_url %}
                    | <a href="{{ post.author.userprofile.twitter_url }}" target="_blank" rel="noopener">Twitter</a>
                    {% endif %}

                    {% if post.author.userprofile.instagram_url %}
                    | <a href="{{ post.author.userprofile.instagram_url }}" target="_blank" rel="noopener">Instagram</a>
                    {% endif %}

                    {% if post.author.userprofile.github_url %}
                    | <a href="{{ post.author.userprofile.github_url }}" target="_blank" rel="noopener">GitHub</a>
                    {% endif %}

                    {% if post.author.userprofile.linkedin_url %}
                    | <a href="{{ post.author.userprofile.linkedin_url }}" target="_blank" rel="noopener">LinkedIn</a>
                    {% endif %}
                </p>

                <p class="card-text">
                    {{ post.author.userprofile.bio }}
                </p>
            </div>
        </div>
    </div>
</div>


<br />

<h1>Comments ... </h1>
<br />

{% if not post.comments.all %}
No Comments yet ... <a href="{% url 'add_comment' post.pk %}">Add One</a>
{% else %}
<a href="{% url 'add_comment' post.pk %}">Add Comment</a> <br /><br />
{% for comment in post.comments.all %}
<strong>
    {{ comment.name }}
    {{ comment.date_added }}
</strong>
<br />
{{ comment.body }}
<br />
<br />
{% endfor %}

{% endif %}

<br />
<br />

{% endblock %}