{% extends 'base.html' %}

{% block content %}

{% if category_posts %}
<h1>{{ catgs }}</h1>
<ul>
    {% for post in category_posts %}

    <li><a href="{% url 'blog_detail' post.pk %}">{{ post.title }} </a>
        - {{ post.category }}
        - {{ post.author.first_name }}
        {{ post.author.last_name }} - {{ post.blogpost_date }}
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'update_blog_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_blog_post' post.pk %}">(Delete)</a><br />
        {% endif %}
        {{ post.body|slice:":150"|safe }}
    </li>

    {% endfor %}
</ul>
{% else %}

<h2>Sorry, this page does not exist...</h2>

{% endif %}

{% endblock %}