{% extends 'base.html' %}

{% block title%}Delete Blog Post{% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_staff %}
{% if user.id == post.author.id %}
<h1>Delete Post </h1>
<br />
<br />
<h3>Delete: {{ post.title }}</h3>
<br />
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong>Are you sure?!</strong><br /><br />
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
{% else %}
<h4>You not allowed to delete this post, you havent created it </h4>
{% endif %}
{% else %}
<h1>Error 404... </h1>
{% endif %}
{% endblock %}